@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,500,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 2px;
  overflow: auto;
  height: 100vh;
}
#root {
    height: 100%;
}
.strong-ctas {
    text-align: center;
    height: 100%;
    padding: 0;
    -webkit-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
    display: flex;
    flex-flow: column;
}
    .strong-ctas button {
        outline: none;
    }
    .strong-ctas button:hover {
        cursor: pointer;
    }

.header {
    margin-bottom: 40px;
    padding: 20px 20px 0;
    flex: 0 1 auto;
}
    .header:before {
        content: "";
        clear: both;
        display: table;
    }
    .header button {
        padding: 0;
        background: transparent;
        border: none;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        float: left;
    }

.titles, .cta {
    padding: 0 20px;
    flex: 0 1 auto;
}
    h1, h2 {
        color: #fff;
        line-height: 1;
        max-width: 850px;
        margin: 0 auto 34px;
    }
    h1 {
        font-weight: 900;
        font-size: 44px;
        margin-top: 50px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 300;
        margin-bottom: 40px;
        font-size: 20px;
    }

.cta.interior {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .cta.interior button {
        margin-top: -200px;
    }
.cta button {
    display: inline-block;
    padding: 24px 58px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    background: #fff;
}
.cta button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 70px;
        margin-top: 0;
    }
    h2 {
        font-size: 22px;
    }
    .cta {
        flex: 1 1 auto;
    }
}
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 88px;
    }
    h2 {
        font-size: 27px;
    }
}

