@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,500,900');

body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 2px;
  overflow: hidden;
}

.strong-ctas {
    text-align: center;
    height:100vh;
    padding: 20px;
}

.header {
    margin-bottom: 10%;
}
    .header:before {
        content: "";
        clear: both;
        display: table;
    }
    .header button:first-of-type, .header button:last-of-type {
        padding: 0;
        background: transparent;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }
    .header button:first-of-type {
        float: left;
    }
    .header button:last-of-type {
        float: right;
    }

h1, h2 {
    color: #fff;
    line-height: 1;
}
h1 {
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
}
h2 {
    font-weight: 300;
    font-size: 30px;
    padding: 0 40px 40px;
}

.strong-ctas > button {
    background: transparent;
    display: inline-block;
    padding: 14px 40px;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);
}
.strong-ctas > button:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}