@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,500,900');

body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 2px;
  overflow: hidden;
}

.strong-ctas {
    text-align: center;
    height: 100vh;
    padding: 20px;
    -webkit-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
    display: flex;
    flex-flow: column;
}
    .strong-ctas button {
        outline: none;
    }
    .strong-ctas button:hover {
        cursor: pointer;
    }

.header {
    margin-bottom: 40px;
    flex: 0 1 auto;
}
    .header:before {
        content: "";
        clear: both;
        display: table;
    }
    .header button:first-of-type, .header button:last-of-type {
        padding: 0;
        background: transparent;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
    }
    .header button:first-of-type {
        float: left;
    }
    .header button:last-of-type {
        float: right;
    }

.titles {
    flex: 0 1 auto;
}
    h1, h2 {
        color: #fff;
        line-height: 1;
        max-width: 850px;
        margin: 0 auto 34px;
    }
    h1 {
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 300;
        font-size: 20px;
        padding: 0 40px;
    }

.cta {
    position: relative;
    flex: 1 1 auto;
}
    .cta button {
        background: transparent;
        display: inline-block;
        padding: 14px 40px;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 2px;
        color: #fff;

        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        transform: translateX(-50%);
    }
    .cta button:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
    }


@media screen and (min-width: 600px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 20px;
    }
}